body {
  font-family: "Roboto", sans-serif;
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #2c3e50 ;
}

img {
 max-width: 100%;
}

.header, .footer {
  background-color: #34495e;
}



/* Inicio Seccion Productos Destacados */

.productos-dest-seccion{
  padding: 2rem 1rem;
}

.productos-dest-seccion h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.productos-dest-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; 
  gap: 1rem;
}

.producto {
  background-color: white;
  width: 70%;
  max-width: 400px;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);

}

.producto-content {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.producto-content p {
  font-weight: bold;
  color: #e74c3c;
}

.producto-content h3{
  font-size: 1.2rem;
}

.producto-content button {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #34495e;
  font-weight: bold;
  color: #ffffff;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.producto-content button:hover {
  background-color: #2c3e50; 
  transform: scale(1.05); 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


/* Seccion adicionales */

.secciones-adicionales-container .producto p {
  color: #2c3e50;
}

/* Seccion del footer */

.footer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  color: #ffffff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}

@media (min-width: 736px) {
  .productos-dest-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .producto-content h3{
    font-size: 1.4rem;
  }

  .productos-dest-seccion h2 {
    padding: 1rem;
  }

}

@media (min-width: 992px) {
  .productos-dest-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .producto-content h3{
    font-size: 1.6rem;
  }

  .secciones-adicionales-container {
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
}